In [61]:
import matplotlib.pyplot as plt
%matplotlib inline

<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Timeseries and Datetime

_Authors: Samuel Stack (DC)_

---

### Learning Objectives
- Use the datetime library to represent dates as objects
- Calculate time differences with timedelta
- Use datetime objects in pandas on the UFO dataset

### Lesson Guide
- [The `datetime` library](#the-datetime-library)
- [`datetime` object](#datetime-object)
- [`timedelta`](#timedelta)
- [Load the UFO reports data](#load-the-ufo-reports-data)
- [Pandas' `pd.datetime`](#pandas-pddatetime)
	- [The `.dt` attribute](#the-dt-attribute)
- [Time stamps](#time-stamps)
- [Additional resources](#additional-resources)

# What is a *time series*?

**Definition:** A *series* of data points listed at successive points in time.

**Think of examples.**

![](images/dataframe.png)

**Time series are inevitably stored in different formats.**

---

![](images/weather1.png)

---

![](images/weather2.png)

# A Surprisingly (?) Frustrating Aspect of Working with Time

*Working with* **time**!!

- Measurements:
  - Year, month day
  - Day of week
  - Hour, minute, second, microsecond
- Policies:
  - Time zone, daylight savings

# Pythonic Dates

- Standard library
  - `date`
  - *`datetime`*
  - `time`
  - *`timedelta`*

[https://docs.python.org/3.6/library/datetime.html](https://docs.python.org/3.6/library/datetime.html)

<a id="the-datetime-library"></a>
## The `datetime` library
---

The python library `datetime` is great for dealing with time-related data. Pandas being Pandas has incorporated this `datetime` library into its own datetime series and objects.

We're going to review these data types and learn a little more about them.
- Datetime Object
- Datetime Series
- Time Stamp
- Time Delta

<a id="datetime-object"></a>
## `datetime` object
---

Below we can load in the datetime library. Using this we can create a datetime object by entering in the different components of the date as arguments.

In [2]:
# The Date time library is something you should already have because of Anaconda.
from datetime import datetime
# 
lesson_date = datetime(2012,12,21,12,21,12, 840265)

In [27]:
tz = lesson_date.astimezone

In [29]:
lesson_date.microsecond

840265

The components of the date are accessible via attributes of the object.

In [6]:
print('Microsecond', lesson_date.microsecond)
print('Day', lesson_date.day)
print(lesson_date.weekday())

dow = ['M', 'T', 'W', 'R', 'F', 'Sa', 'Su']
print(dow[lesson_date.weekday()])

Microsecond 840265
Day 21
4
F

<a id="timedelta"></a>
## `timedelta`
---

Say we want to add time to a date or subtract time.  Maybe we are using time as an index and we want to get everything that happened a week before a specific observation.

We can use a timedelta object to shift (do arithmatic, more or less) a datetime object. Here's an example:

In [30]:
# Import timedelta from datetime library
from datetime import timedelta

# A:
offset = timedelta(days=1, seconds=20)
print('offset days', offset.days)
print('offset microseconds:', offset.microseconds)

offset days 1
offset microseconds: 0

In [9]:
offset.seconds

20

The `.now()` function of datetime will give you the datetime object of this very moment.

In [18]:
# A:
now = datetime.now()
now

datetime.datetime(2017, 12, 10, 22, 40, 3, 623150)

The current time is particularly useful when using timedeltas.

In [19]:
# A:
print('Future', now+offset)
print('Past', now-offset)

Future 2017-12-11 22:40:23.623150
Past 2017-12-09 22:39:43.623150

In [32]:
offset2 = timedelta(days=34, seconds=35)

In [35]:
now-offset2

datetime.datetime(2017, 11, 6, 22, 39, 28, 623150)

> _Note: The largest value a Time Delta can hold is 'Days'.  I.e. you can't say your want you an offset to be 2 years, 44 days and 12 hours.  You would have to manually convert the time of those years to be represented in days._

You can read more about that here in the timedeltas category.
https://docs.python.org/2/library/datetime.html

<a id="load-the-ufo-reports-data"></a>
## Load the UFO reports data
---

We can practice using datetime functions and objects with the UFO reports data.

In [36]:
# Get a dataset from the internets
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [37]:
# A:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [38]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [41]:
ufo['Time'] = pd.to_datetime(ufo['Time'])

In [42]:
ufo.dtypes #datetime 64 is a numpy object

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [45]:
ufo['Time'][0]

Timestamp('1930-06-01 22:00:00')

In [47]:
ufo['Time'].head()

0   1930-06-01 22:00:00
1   1930-06-30 20:00:00
2   1931-02-15 14:00:00
3   1931-06-01 13:00:00
4   1933-04-18 19:00:00
Name: Time, dtype: datetime64[ns]

The "Time" column starts off as just an object.

In [8]:
# A:

<a id="pandas-pddatetime"></a>
## Pandas' `pd.datetime`
---

When using pandas we can convert columns of data from string objects into date objects with the `pd.to_datetime` function.

> **Note**: dates can be tricky to parse as they come in many formats. The `to_datetime` function comes with a keyword argument `infer_datetime_format` that can be particularly useful to parse dates.

In [55]:
# A:
ufo['Time'] = pd.to_datetime(ufo.Time, format='%Y%m%d', errors='coerce')

<a id="the-dt-attribute"></a>
### The `.dt` attribute

Pandas datetime columns have a `.dt` attribute that allows you to access attributes specific to the dates. For example:
```python
ufo.Time.dt.day
ufo.Time.dt.month
ufo.Time.dt.year
ufo.Time.dt.weekday_name
```

And many more.

In [77]:
ufo.Time.dt.dayofyear

0        152
1        181
2         46
3        152
4        108
5        258
6        166
7        197
8        289
9        166
10       227
11       152
12       181
13       188
14       152
15       183
16        56
17       152
18       196
19       120
20       152
21       227
22       227
23       288
24         1
25         1
26         1
27        93
28       153
29       182
        ...
18211    363
18212    363
18213    363
18214    364
18215    364
18216    364
18217    364
18218    364
18219    364
18220    364
18221    364
18222    364
18223    364
18224    364
18225    365
18226    365
18227    365
18228    366
18229    366
18230    366
18231    366
18232    366
18233    366
18234    366
18235    366
18236    366
18237    366
18238    366
18239    366
18240    366
Name: Time, Length: 18241, dtype: int64

In [79]:
# A:
ufo.Time.dt.dayofweek.head()

0    6
1    0
2    6
3    0
4    1
Name: Time, dtype: int64

<a id="time-stamps"></a>
## Time stamps
---

Timestamps are useful objects for comparisons. You can create a timestamp object with the `pd.to_datetime` function and a string specifying the date. These timestamps are useful when you need to do logical filtering with dates.

In [80]:
# A:
type(ufo.Time[0])

pandas._libs.tslib.Timestamp

In [83]:
# Use that Time Stamp for a comparison.
ts = pd.to_datetime('1/1/1999')
ts
dt = datetime(2000,1,1)
print(dt)

2000-01-01 00:00:00

In [85]:
ufo.loc[ufo.Time >= dt, :].head(50)

,City,Colors Reported,Shape Reported,State,Time
15606,Bakersfield,NaN,NaN,CA,2000-01-01 00:01:00
15607,New York City,NaN,SPHERE,NY,2000-01-01 00:01:00
15608,Los Angeles,NaN,NaN,CA,2000-01-01 00:03:00
15609,San Diego,GREEN,LIGHT,CA,2000-01-01 00:23:00
15610,Laporte,NaN,OTHER,TX,2000-01-01 02:13:00
15611,Bellefontaine,RED,LIGHT,OH,2000-01-01 03:00:00
15612,Nellis AFB,NaN,LIGHT,NV,2000-01-01 03:30:00
15613,Clovis,NaN,LIGHT,CA,2000-01-01 05:00:00
15614,Gurnee,NaN,LIGHT,IL,2000-01-01 14:45:00
15615,San Francisco,NaN,LIGHT,CA,2000-01-01 16:20:00
15616,Medford,NaN,FORMATION,OR,2000-01-01 17:00:00
15617,Houston,NaN,FLASH,TX,2000-01-01 20:30:00
15618,Patoka,NaN,TRIANGLE,IL,2000-01-01 21:00:00
15619,Houston,GREEN,SPHERE,TX,2000-01-01 21:35:00
15620,Evansville,NaN,CIGAR,IN,2000-01-01 22:00:00
15621,Erath,NaN,EGG,LA,2000-01-01 23:00:00
15622,Coral Springs,NaN,NaN,FL,2000-01-01 23:30:00
15623,Jacksonville,NaN,RECTANGLE,FL,2000-01-02 00:00:00
15624,Mesa,NaN,OVAL,AZ,2000-01-02 00:30:00
15625,Chandler,NaN,DIAMOND,AZ,2000-01-02 18:30:00
15626,Murrieta,NaN,FIREBALL,CA,2000-01-02 19:33:00
15627,Kennewick,NaN,LIGHT,WA,2000-01-02 19:34:00
15628,Oroville,NaN,LIGHT,CA,2000-01-02 20:00:00
15629,Studio City,BLUE,RECTANGLE,CA,2000-01-02 21:00:00
15630,Anaheim Hills,GREEN,LIGHT,CA,2000-01-02 21:30:00
15631,Redlands,GREEN,FIREBALL,CA,2000-01-02 21:30:00
15632,Temecula,GREEN,FIREBALL,CA,2000-01-02 21:30:00
15633,Glendale,NaN,FIREBALL,CA,2000-01-02 21:33:00
15634,Big Bear Lake,BLUE,OTHER,CA,2000-01-02 21:35:00
15635,La Quinta,NaN,FORMATION,CA,2000-01-02 21:35:00
15636,Sanger,BLUE,OTHER,CA,2000-01-02 21:35:00
15637,Claremont,NaN,NaN,CA,2000-01-02 21:36:00
15638,Vista,NaN,DISK,CA,2000-01-02 21:37:00
15639,Jurupa,BLUE,LIGHT,CA,2000-01-02 21:40:00
15640,San Fernando Valley,NaN,TRIANGLE,CA,2000-01-02 21:40:00
15641,Sierra Madre,GREEN,FIREBALL,CA,2000-01-02 21:50:00
15642,Tustin,BLUE,LIGHT,CA,2000-01-02 22:00:00
15643,South Pasadena,NaN,CHEVRON,CA,2000-01-02 22:40:00
15644,no data,NaN,TRIANGLE,NV,2000-01-02 23:00:00
15645,El Centro,NaN,OTHER,CA,2000-01-03 07:30:00
15646,Union City,NaN,CIGAR,TN,2000-01-03 15:18:00
15647,West Manchester,NaN,LIGHT,OH,2000-01-03 21:30:00
15648,Reno,NaN,LIGHT,NV,2000-01-03 22:43:00
15649,Union,NaN,TRIANGLE,MO,2000-01-04 03:15:00
15650,Duryea,RED GREEN BLUE,OVAL,PA,2000-01-04 19:00:00
15651,Scottsdale,NaN,LIGHT,AZ,2000-01-04 20:30:00
15652,Coleman,NaN,FIREBALL,TX,2000-01-04 21:30:00
15653,Dupo,NaN,TRIANGLE,IL,2000-01-04 23:35:00
15654,Spokane,NaN,NaN,WA,2000-01-05 00:00:00
15655,Florissant,NaN,RECTANGLE,MO,2000-01-05 02:00:00

<a id="additional-resources"></a>
## Additional resources
---
- search for .dt. on http://pandas.pydata.org/pandas-docs/stable/api.html for more information about pandas Datetime.