# Variables
---

### Declaring

In [1]:
my_name = 'RIley'

### Output

In [2]:
my_name

'RIley'

### Printing

In [3]:
print(my_name)

RIley

### Overwriting variables

In [4]:
my_name = 'Sarah'

In [5]:
my_name = my_name + ' Dallas'

In [6]:
my_name

'Sarah Dallas'

# Numbers
---

### Integers vs Floats

In python, there are two types of numbers. Integers and floats. Integers are whole numbers (e.g. 1, 2, 3), whereas floats have decimals (e.g. 1.2, 0.5, etc)

In [7]:
1

1

In [8]:
1.4

1.4

### Casting floats as integers (and vice versa)
Occasionally, you might need to convert an integer to a float (or vice versa). This is especially important when you get into division.

In [9]:
float(1)

1.0

In [10]:
int(1.5)

1

In [11]:
1 * 1.0

1.0

In [12]:
10 / 3

3.3333333333333335

## Basic Math
Math is very straightforward in Python. + adds, - subtracts, / divides, and * multiplies.

### Addition/Incrementing

In [13]:
counter = 0

In [14]:
counter = counter + 1

In [15]:
counter

1

In [16]:
counter += 1

In [17]:
counter

2

### Subtraction/Decrementing

In [18]:
counter -= 1

In [19]:
counter

1

### Multiplication

In [20]:
10 * 3

30

### Division

In [21]:
float(10) / 3

3.3333333333333335

### Dividing integers vs Floats

### Modulo Operations
In computing, the modulo operation finds the remainder after division of one number by another.

In [22]:
10 % 3

1

In [23]:
counter % 2

1

In [24]:
counter % 2 == 0

False

# Strings
---
In Python, a string is used for text. It's important to use quotes when denoting a string, otherwise you'll get an error. 

**Note**: Strings can use single or double quotes

In [25]:
"Foobar"

'Foobar'

In [26]:
'Foobar'

'Foobar'

## Concatenation
You can combine multiple strings into one string through concatenation

In [27]:
'Riley' + ' ' + 'Dallas'

'Riley Dallas'

## Interpolation
Interpolation is when you inject one or more strings into another (think mad libs).

In [28]:
'Hello {}, how are you?'.format(my_name)

'Hello Sarah Dallas, how are you?'

In [29]:
'DSI is {}, I {} gGeneral assembly'.format('Awesome', 'love')

'DSI is Awesome, I love gGeneral assembly'

## Upper/Lowercase

In [30]:
my_name.lower()

'sarah dallas'

In [31]:
my_name.upper()

'SARAH DALLAS'

In [32]:
my_name.title()

'Sarah Dallas'

## Indexing characters

In [33]:
my_name[1]

'a'

In [34]:
my_name[-1]

's'

In [35]:
my_name[-2]

'a'

## Range of Characters

In [36]:
my_name[:]

'Sarah Dallas'

## Splitting
We can break a string up into lists using the `split` method.

### Splitting on spaces

In [37]:
'Sarah Anne Dallas'.split(' ')

['Sarah', 'Anne', 'Dallas']

### Splitting on character(s)

In [38]:
'Sarah Anne Dallas'.split('a')

['S', 'r', 'h Anne D', 'll', 's']

# Dictionaries
---

In [39]:
me = {
    'first_name': 'Riley',
    'last_name': 'Dallas'
}

## Accessing values from a dictionary

In [40]:
me['first_name']

'Riley'

In [41]:
me['middle_name'] = 'Lee'

In [42]:
me['first_name'] = 'R'

In [43]:
me

{'first_name': 'R', 'last_name': 'Dallas', 'middle_name': 'Lee'}

### Adding key/value pairs to a dictionary

### Removing key/value pairs

In [44]:
me.pop('middle_name')

'Lee'

In [45]:
me

{'first_name': 'R', 'last_name': 'Dallas'}

### Using `.update()` to combine dictionaries

In [46]:
me

{'first_name': 'R', 'last_name': 'Dallas'}

In [47]:
more_stuff_about_me = {
    'age': 36,
    'occupation': 'Instructor'
}

In [48]:
me.update(more_stuff_about_me)

In [49]:
me

{'age': 36,
 'first_name': 'R',
 'last_name': 'Dallas',
 'occupation': 'Instructor'}

# Lists
---

In [50]:
my_numbers = [1, 2, 3]

### Indexing

In [51]:
my_numbers[0]

1

### Slicing

In [52]:
my_numbers[:2]

[1, 2]

### Appending

In [53]:
my_numbers.append(4)

In [54]:
my_numbers

[1, 2, 3, 4]

### Extending

In [55]:
my_numbers.extend([5, 6, 7])

In [56]:
my_numbers

[1, 2, 3, 4, 5, 6, 7]

### Removing

In [57]:
my_numbers.remove(3)

In [58]:
my_numbers

[1, 2, 4, 5, 6, 7]

### Sorting

In [59]:
sorted([6, 3, 8 ,2])[::-1]

[8, 6, 3, 2]

## Creating lists from ranges

*NOTE*: Ranges are different from Python 2 to 3

In [60]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples
---
Tuples are like lists, except you can't change them once they're created. The scrabble word for this is "immutable".

In [61]:
my_tup =(1, 2, 3)

# Sets
---
Sets are like lists, except they will only retain the **unique** values in a list.

In [62]:
type(set([1, 1, 2, 3]))

set

# Booleans
---

In [63]:
True

True

In [64]:
False

False

# Boolean Expressions
---
Boolean expressions are "truth tests" that either evaluate to `True` or `False`

### Equality

In [65]:
1 == 10

False

### Greater Than

In [66]:
1 > 10

False

In [67]:
10 > 1

True

### Greater than or equal to

In [68]:
1 >= 0

True

### Less Than

In [69]:
1 < 10

True

### Less Than or equal to

In [70]:
1 <= 10

True

### Not equals

In [71]:
1 != 2

True

### Modulo Expressions

In [72]:
96 % 3 == 0

True

### "in"

In [73]:
'A' in my_name

False

In [74]:
10 in [1, 2, 3]

False

### Logical and

In [75]:
my_age = 18

In [76]:
my_age >= 18 and my_age >= 21

False

In [77]:
True and True

True

### Logical or

In [78]:
my_age >= 18 or my_age >= 21

True

### Not True/Not False

In [79]:
not False

True

In [80]:
list('Riley Dallas')

['R', 'i', 'l', 'e', 'y', ' ', 'D', 'a', 'l', 'l', 'a', 's']

# Conditionals
---

### If Statements

In [81]:
if False:
    print('this is true')
    print('hi mom')

### If/Else

In [82]:
if True:
    print('this is true')
    print('hi mom')
else:
    print('else clause')

this is true
hi mom

### If/Elif/Else

In [83]:
if False:
    print('this is true')
    print('hi mom')
elseif False:
    print('more true')
else:
    print('else clause')

SyntaxError: invalid syntax (<ipython-input-83-f92a788da91d>, line 4)

# Functions
---

### Declaring vs Invoking

In [84]:
def greeting():
    print("hi NYC")
    print("hi CHI")
    print("Hi BOS")

greeting()

hi NYC
hi CHI
Hi BOS

In [85]:
greeting()

hi NYC
hi CHI
Hi BOS

### Functions with paramenters

In [86]:
def greet_cohort(cohort, food):
    print("hi " + cohort + ', you have awesome ' + food)
    if cohort == "AUS":
        print("no way, i live in austin")
    
greet_cohort("ATL", 'coke')

greet_cohort("AUS", 'bbq')

hi ATL, you have awesome coke
hi AUS, you have awesome bbq
no way, i live in austin

# For loops
---

In [87]:
names = ['Riley', 'Richard', 'Justin', 'Adam']

In [88]:
for index, name in enumerate(names):
    print(index)
    print(name)
    print("")

0
Riley

1
Richard

2
Justin

3
Adam

In [89]:
new_names = []
for name in names:
    print(name[0])
    new_names.append(name[0])
new_names

R
R
J
A

['R', 'R', 'J', 'A']

In [90]:
for letter in my_name:
    print(letter)

S
a
r
a
h

D
a
l
l
a
s

# While loops
---

In [91]:
my_boolean = True
while my_boolean:
    print("hi mom")
    my_boolean = False

hi mom

In [93]:
counter = 0
while counter < 10:
    print("hi mom")
    counter += 1

hi mom
hi mom
hi mom
hi mom
hi mom
hi mom
hi mom
hi mom
hi mom
hi mom

In [95]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
for _ in range(10):
    print('hi mom')
    print('howdy')

hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy
hi mom
howdy

`this is some code`

In [104]:
my_age = 21
if my_age < 18:
    print("You can't drink or vote")
elif my_age < 21:
    print("You can vote, but not drink")
else:
    print("You can drink and vote")

You can drink and vote

In [108]:
total_score = 45
if total_score <= 23:
    print("Green")
elif total_score <= 44:
    print("Amber")
else:
    print("red")

red

In [115]:
dna = "ACTTAGCTTGT"

rna = ''

for nucleotide in dna:
    if nucleotide == 'T':
        rna += 'U'
    else:
        rna += nucleotide
rna

'ACUUAGCUUGU'

In [117]:
dna.replace('T', 'U')

'ACUUAGCUUGU'

In [116]:
total = 0
for number in [-3, 0, 4, 10, -5, -20, 99]:
    if number > 0:
        total += number
total

113

In [126]:
my_string = 'RiLEY'

def is_upper(string):
    for letter in string:
        if not letter.isupper():
            return False
    return True
is_upper(my_string)

False

In [129]:
for num in [1, 2, 3]:
    if num % 2 == 0:
        continue
    print(num)

1
3