In [1]:
import re

In [2]:
nba_data = '''Celtics:
Record: 12-2, 1st in NBA Eastern Conference
Last Game: W 95-94 vs. TOR
Next Game: Tuesday, Nov. 14 at BRK
Coach: Brad Stevens (12-2)
Executive: Danny Ainge
PTS/G: 102.2 (24th of 30) Opp PTS/G: 94.0 (1st of 30)
SRS: 7.38 (3rd of 30) Pace: 96.4 (26th of 30)
Off Rtg: 106.0 (17th of 30) Def Rtg: 97.5 (1st of 30)

Hawks:
Record: 2-11, 15th in NBA Eastern Conference
Last Game: L 94-113 at WAS
Next Game: Monday, Nov. 13 at NOP
Coach: Mike Budenholzer (2-11)
Executive: Travis Schlenk
PTS/G: 102.5 (23rd of 30) Opp PTS/G: 110.8 (26th of 30)
SRS: -8.59 (27th of 30) Pace: 100.0 (9th of 30)
Off Rtg: 102.4 (25th of 30) Def Rtg: 110.8 (27th of 30)

Spurs:
Record: 8-5, 3rd in NBA Western Conference
Last Game: W 133-94 vs. CHI
Next Game: Tuesday, Nov. 14 at DAL
Coach: Gregg Popovich (8-5)
Executive: R.C. Buford
PTS/G: 103.0 (22nd of 30) Opp PTS/G: 99.6 (5th of 30)
SRS: 3.04 (9th of 30) Pace: 96.4 (27th of 30)
Off Rtg: 106.9 (16th of 30) Def Rtg: 103.4 (6th of 30)

Knicks:
Record: 7-5, 4th in NBA Eastern Conference
Last Game: W 118-91 vs. SAC
Next Game: Monday, Nov. 13 vs. CLE
Coach: Jeff Hornacek (7-5)
Executive: Steve Mills
PTS/G: 106.4 (16th of 30) Opp PTS/G: 105.0 (13th of 30)
SRS: 1.12 (14th of 30) Pace: 96.5 (25th of 30)
Off Rtg: 110.2 (6th of 30) Def Rtg: 108.8 (21st of 30)

Bulls:
Record: 2-9, 14th in NBA Eastern Conference
Last Game: L 94-133 at SAS
Next Game: Wednesday, Nov. 15 at OKC
Coach: Fred Hoiberg (2-9)
Executive: Gar Forman
PTS/G: 93.6 (30th of 30) Opp PTS/G: 103.9 (10th of 30)
SRS: -9.69 (29th of 30) Pace: 96.1 (29th of 30)
Off Rtg: 96.6 (30th of 30) Def Rtg: 107.2 (19th of 30)'''

In [3]:
m  = re.search('\d[a-z]{2}', nba_data)
if m:
    print(m.group())
else:
    print('No Match')

1st

In [4]:
m.group()

'1st'

In [5]:
type(m)

_sre.SRE_Match

In [6]:
if m:
    print(m.group())
else:
    print('No Match')

1st

In [7]:
m  = re.search('Coach: (.+)\(', nba_data)
if m:
    print(m.group())
else:
    print('No Match')

Coach: Brad Stevens (

In [8]:
m  = re.search('Record: (\d+)-(\d+)', nba_data)
if m:
    print(m.group(2))
else:
    print('No Match')

2

In [9]:
re.findall('Coach: (.+) \(', nba_data)

['Brad Stevens',
 'Mike Budenholzer',
 'Gregg Popovich',
 'Jeff Hornacek',
 'Fred Hoiberg']

In [10]:
m = re.search('Record: (\d+)-(\d+)', nba_data)
if m:
    print(m.group())
else:
    print('No match')

Record: 12-2

In [11]:
re.findall('Record: (\d+)-(\d+)', nba_data)

[('12', '2'), ('2', '11'), ('8', '5'), ('7', '5'), ('2', '9')]

In [12]:
url = 'https://google.com?search=foobar' # return everything before the ?

In [13]:
re.sub(r'\?.*', '', url)

'https://google.com'

In [14]:
string = 'The-quick-brOwn_fox_juMped_over_The-lazy-dog'

In [15]:
re.sub(r'[-_][A-z]', lambda m: m.group()[-1].upper(), string.lower())

'theQuickBrownFoxJumpedOverTheLazyDog'

In [16]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
df['Title'] = df['Name'].str.extract(', ([^.]+)\.', expand=True)

In [18]:
df[['Title', 'Survived']].groupby('Title').agg(['mean', 'count'])

              Survived
                  mean count
Title
Capt          0.000000     1
Col           0.500000     2
Don           0.000000     1
Dr            0.428571     7
Jonkheer      0.000000     1
Lady          1.000000     1
Major         0.500000     2
Master        0.575000    40
Miss          0.697802   182
Mlle          1.000000     2
Mme           1.000000     1
Mr            0.156673   517
Mrs           0.792000   125
Ms            1.000000     1
Rev           0.000000     6
Sir           1.000000     1
the Countess  1.000000     1

In [19]:
df.loc[df['Name'].str.contains('Rev')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.000,NaN,S,Rev
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.525,NaN,S,Rev
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.000,NaN,S,Rev
626,627,0,2,"Kirkland, Rev. Charles Leonard",male,57.0,0,0,219533,12.350,NaN,Q,Rev
848,849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.000,NaN,S,Rev
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S,Rev

In [20]:
df['Name'].str.contains('Rev').astype(int)

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    0
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    0
875    0
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    1
887    0
888    0
889    0
890    0
Name: Name, Length: 891, dtype: int32

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline, FeatureUnion

In [22]:
from sklearn.preprocessing import FunctionTransformer

In [23]:
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
import seaborn as sns

In [25]:
def is_reverend(df):
    return df['Name'].str.contains('Rev').astype(int)

def pclass(df):
    return df[['Pclass']].fillna(0)
pclass_tf = FunctionTransformer(pclass, validate=False)

In [26]:
is_reverend_tf = FunctionTransformer(is_reverend, validate=False)

In [27]:
# is_reverend_tf.transform(df)
fu = FeatureUnion([('is_reverend_tf', FunctionTransformer(func=is_reverend, validate=False))])

In [28]:
pipe = Pipeline([('fu', fu), ('lr', LogisticRegression())])

In [30]:
from sklearn.model_selection import cross_val_score

In [31]:
cross_val_score(pipe, df, df['Survived']).mean()

ValueError: Expected 2D array, got 1D array instead:
array=[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [32]:
pipe.predict(test)

NameError: name 'test' is not defined